body {
    background-image: url(universal.jpg);
}

header {
    font-family: 'Source Sans Pro', sans-serif;
    background-repeat: no-repeat;
    height: 25%;
    left: 0;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    top: 0px;
}

header h1 {
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: 1900px;
    padding: 100px 50px;
    margin: 0 auto;
    text-align: center;
}

main nav {
    border-radius: 50px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1900px;
}

main nav div ul li {
    display: inline;
    padding: 50px 50px;
}

main nav div ul li a {
    border-radius: 10px;
    line-height: 3.25em;
    padding: 32px;  
    color: rgb(255, 255, 255);
}