body {
    background-color: white;
}

.logo{
    display: inline-block;
}

.nav {
    transition: background-color .25s ease-in-out;
    letter-spacing: 0.025em;
    color: #696969;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
}

.welcome {
    background: #444;
    color: #fff;
}

.dropdown {
    background: white;
}

.left {
    background: white;
}